<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field"> <%= f.label :transaction_id %><br> <%= f.text_field :transaction_id %></div>
  <div class="field"> <%= f.label :paypal_email %><br><%= f.text_field :paypal_email %> </div>
  <div class="field"> <%= f.label :shipping_name %><br><%= f.text_field :shipping_name %></div>
  <div class="field"> <%= f.label 'Shipping Address' %>
                                   <br> <%= f.text_field :shipping_address1 %>
                                   <br> <%= f.text_field :shipping_address2 %>
                                   <br> <%= f.text_field :shipping_address3 %>
                                   <br> <%= f.text_field :shipping_address4 %>
                                   <br> <%= f.text_field :shipping_address5 %>
                                   </div>
  <div class="field"> <%= f.label :payment_total %><br> <%= f.text_field :payment_total %></div>
  <div class="field"> <%= f.label :payment_subtotal %><br><%= f.text_field :payment_subtotal %> </div>
  <div class="field"> <%= f.label :shipping_total %><br><%= f.text_field :shipping_total %></div>
  
  <h2>ITEMS</h2>
  
  <%= f.fields_for :order_items do |g| %>
	  <fieldset>
	    <div class="row">
	      <div class="field col-md-6"><%= g.label :description %><%= g.text_field :description %>  </div>
        <div class="field col-md-3"><%= g.label 'Item' %><%= g.text_field :item_number %>  </div>
        <div class="field col-md-1"><%= g.label 'Price' %><%= g.text_field :unit_price %> </div>
        <div class="field col-md-1"><%= g.label 'Qty' %><%= g.number_field :quantity %> </div>
      </div>
	  </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
