<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field"> <%= f.label 'Transaction:' %> <%= f.text_field :transaction_id, style: "display: inline;" %></div>
  <div class="field"> <%= f.label 'Date received:' %> <%= f.text_field :date_received, style: "display: inline;" %></div>
  <div class="field"> <%= f.label 'Email:' %> <%= f.text_field :paypal_email %> </div>
  <div class="field"> <%= f.label 'Payment Total:' %> <%= f.text_field :payment_total %></div>
  <div class="field"> <%= f.label 'Shipping Total:' %><%= f.text_field :shipping_total %></div>
  <div class="field"> <%= f.label 'Name:'%> <%= f.text_field :shipping_name %></div>
  <div class="field"> <%= f.label 'Address 1:' %><%= f.text_field :shipping_address1 %></div>
  <div class="field"> <%= f.label 'Address 2:' %><%= f.text_field :shipping_address2 %></div>
  <div class="field"> <%= f.label 'Address 3:' %><%= f.text_field :shipping_address3 %></div>
  <div class="field"> <%= f.label 'Address 4:' %><%= f.text_field :shipping_address4 %></div>
  <div class="field"> <%= f.label 'Address 5:' %><%= f.text_field :shipping_address5 %></div>
  <div class="field"> <%= f.label "Paypal ID:" %><%= f.text_field :paypal_id %> </div>
  
  <h2>ITEMS</h2>
  <table>
    <tr>
      <th id='description'>Description</th>
      <th id='item_number'>Item</th>
      <th id='unit_price'>Price</th>
      <th id='quantity'>Quantity</th>
    </tr>

  <%= f.fields_for :order_items do |g| %>
	  <fieldset>
	    <tr>
	      <td><%= g.text_field :description %>  </td>
        <td><%= g.text_field :item_number %>  </td>
        <td><%= g.text_field :unit_price %> </td>
        <td><%= g.number_field :quantity %> </td>
      </tr>
	  </fieldset>
  <% end %>
  </table>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>