<h1>ORDERS</h1>

<table>
  <thead>
    <tr>
      <th class="col-md-1">Transaction</th>
      <th class="col-md-1">Paypal email</th>
      <th class="col-md-1">Date received</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="col-md-1"><%= link_to order.transaction_id, edit_order_path(order.id) %></td>
        <td class="col-md-1"><%= order.paypal_email %></td>
        <td class="col-md-1"><%= order.date_received %></td>
        <td><%= link_to 'X', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
