<h1>MAILING</h1>
<%= form_tag label_orders_path, method: :put do %>
<table>
  <thead>
    <tr>
      <th class="col-md-4">Name</th>
      <th class="col-md-3">Email</th>
      <th class="col-md-3">Country</th>
      <th class="col-md-2">Total Items</th>
    </tr>
  </thead>

  <tbody>
    <% @mailing.each do |mail| %>
      <tr>
        <td class="col-md-4"><%= mail.shipping_name %></td>
        <td class="col-md-3"><%= mail.paypal_email %></td>
        <% if mail.shipping_address5.present? %>
            <td class="col-md-3"><%= mail.shipping_address5 %></td>
        <% elsif mail.shipping_address4.present? %>
            <td class="col-md-3"><%= mail.shipping_address4 %></td>
        <% elsif mail.shipping_address3.present? %>
            <td class="col-md-3"><%= mail.shipping_address3 %></td>
        <% end %>
        <td class="col-md-2"><%= mail.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>