<h1>NEW ORDER</h1>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
           <% @description = [] %>
          <% @item_number = [] %> 
  <% if params[:paypal_button] %>
      <% inputString=(params["Paypal"]) %>
      <% if inputString.include? "Transaction ID:" %>
          <% a = inputString.index('Transaction ID:') + 15 %>
          <% b = a + 17 %>
          <% @transaction_id = inputString[a..b] %>
      <% end %>
      <% if inputString.include? "(" %>
          <% a = inputString.index('(') + 1 %>
          <% b = inputString.index(')') - 1 %>
          <% @paypal_email = inputString[a..b] %>
      <% end %>
      <% if inputString.include? "You received a payment of $" %>
          <% a = inputString.index('You received a payment of $') + 27 %>
          <% b = inputString.index(' USD from') - 1 %>
          <% @payment_total = inputString[a..b] %>
      <% end %>
      <% if inputString.include? "Shipping address" %>
        <% a = inputString.index('Shipping address') + 18 %>
        <% b = inputString.index('Shipping details') - 1 %>
        <% lines = inputString[a..b].split("\n") %>
        <% @shipping_name = lines[0] %>
        <% @shipping_address1 = lines[1] %>
        <% @shipping_address2 = lines[2] %>
        <% @shipping_address3 = lines[3] %>
        <% @shipping_address4 = lines[4] %>
        <% @shipping_address5 = lines[5] %>
      <% end %>
      <% if inputString.include? "PayPal Email ID " %>
          <% a = inputString.index('PayPal Email ID ') + 15 %>
          <% b = a + 21 %>
          <% @paypal_id = inputString[a..b] %>
      <% end %>
      <% if inputString.include? "PayPal logo" %>
          <% a = inputString.index('PayPal logo') + 12 %>
          <% b = a + 10 %>
          <% @date_received = inputString[a..b].to_date %>
      <% end %>
      <% if inputString.include? "Shipping and handling" %>
          <% a = inputString.index('Shipping and handling') + 23 %>
          <% b = inputString.index('Insurance') - 6 %>
          <% @shipping_total = inputString[a..b].strip! %>
      <% end %>
      <% if inputString.include? "Amount" %>
        <% a = inputString.index('Amount') + 8 %>
        <% b = inputString.index('Subtotal') - 4 %>
        <% lines = inputString[a..b].split("\n") %>
        <% lines_count = lines.length %>
        <% lines.each_with_index do |item,index| %>
          <% even_index = 0 %>
          <% odd_index = 0 %>
          <% if index.even? %>
             <% @description[0] = lines[0] %>
             <% even_index += 1 %>
          <% else %>
            <% @item_number[odd_index] = item[6..12] %>
            <% odd_index += 1 %>
          <% end %>
        <% end %>
      <% end %>
  <% else %>
    <div id="paypal-input"><%= text_area_tag "Paypal" %></div>
    <%= submit_tag 'Paypal', :name => 'paypal_button' %>
  <% end %>
  
  <div class="field"> <%= f.label :transaction_id %> <%= f.text_field :transaction_id, value: @transaction_id %></div>
  <div class="field"> <%= f.label :date_received %> <%= f.text_field :date_received, value: @date_received %></div>
  <div class="field"> <%= f.label :paypal_email %> <%= f.text_field :paypal_email, value: @paypal_email %> </div>
  <div class="field"> <%= f.label :shipping_name %> <%= f.text_field :shipping_name, value: @shipping_name %></div>
  <div class="field"> <%= f.label 'Shipping Address' %>
                          <br><%= f.text_field :shipping_address1, value: @shipping_address1 %>
                          <br><%= f.text_field :shipping_address2, value: @shipping_address2 %>
                          <br><%= f.text_field :shipping_address3, value: @shipping_address3 %>
                          <br><%= f.text_field :shipping_address4, value: @shipping_address4 %>
                          <br><%= f.text_field :shipping_address5, value: @shipping_address5 %></div>
  <div class="field"> <%= f.label :payment_total %> <%= f.text_field :payment_total, value: @payment_total %></div>
  <div class="field"> <%= f.label :payment_subtotal %><%= f.text_field :payment_subtotal %> </div>
  <div class="field"> <%= f.label :shipping_total %><%= f.text_field :shipping_total, value: @shipping_total %></div>
  <div class="field"> <%= f.label :paypal_id %><%= f.text_field :paypal_id, value: @paypal_id %> </div>

  <% @counter = 0 %>
  <%= fields_for :order_items do |builder| %>
	  <fieldset>
	    <div class="field"><%= builder.label :description %><%= builder.text_field :description, value: @description[@counter] %>  </div>
      <div class="field"><%= builder.label :item_number %><%= builder.text_field :item_number, value: @item_number[@counter] %>  </div>
      <div class="field"><%= builder.label :unit_price %><%= builder.text_field :unit_price %></div>
      <div class="field"><%= builder.label :quantity %><%= builder.number_field :quantity %></div>
	  </fieldset>
	  <% @counter += 1 %>
  <% end %>
  
  <div class="actions"><%= f.submit %></div>

<% end %>

<%= link_to 'Back', orders_path %>
