<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @order.transaction_id %>
</p>

<p>
  <strong>Paypal:</strong>
  <%= @order.paypal_id %>
</p>

<p>
  <strong>Paypal email:</strong>
  <%= @order.paypal_email %>
</p>

<p>
  <strong>Date received:</strong>
  <%= @order.date_received %>
</p>

<p>
  <strong>Shipping name:</strong>
  <%= @order.shipping_name %>
</p>

<p>
  <strong>Shipping address1:</strong>
  <%= @order.shipping_address1 %>
</p>

<p>
  <strong>Shipping address2:</strong>
  <%= @order.shipping_address2 %>
</p>

<p>
  <strong>Shipping address3:</strong>
  <%= @order.shipping_address3 %>
</p>

<p>
  <strong>Shipping address4:</strong>
  <%= @order.shipping_address4 %>
</p>

<p>
  <strong>Payment total:</strong>
  <%= @order.payment_total %>
</p>

<p>
  <strong>Payment subtotal:</strong>
  <%= @order.payment_subtotal %>
</p>

<p>
  <strong>Shipping total:</strong>
  <%= @order.shipping_total %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
