<div id="summary-form">
  <%= form_tag(summary_path, method: :get) do %>
  <p>
<%= date_select "summary", "start_date" %>
<%= date_select "summary", "end_date" %>    
    <%= submit_tag "Summarise", :name => nil %>
  </p>
  <% end %>
</div>

<% if params[:start_date] != nil && params[:start_date] != "" %>

<h1 class="page_title">SUMMARY FOR <%= params[:start_date]%> TO <% params[:end_date] %></h1>
<br>
<% @orders.each do |o| %>
    <div id="summary_wrapper1">
    <div class="summary_row">
      <p class="summary_item"><%= o.id %></p>
    </div>
    </div>
<% end %>
<% end %>