<h1>ITEMS</h1>

<table>
  <thead>
    <tr>
      <th class="col-md-1">Order</th>
      <th class="col-md-8">Description</th>
      <th class="col-md-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td class="col-md-1"><%= order_item.order_id %></td>
        <td class="col-md-8"><%= order_item.description %></td>
        <td><%= link_to 'E', edit_order_item_path(order_item) %></td>
        <td><%= link_to 'X', order_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order item', new_order_item_path %>
