<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @order_item.description %>
</p>

<p>
  <strong>Item number:</strong>
  <%= @order_item.item_number %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @order_item.unit_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
