<!DOCTYPE html>
<html>
<head>
    <title>Workspace</title>
    <%= stylesheet_link_tag    'label', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
</body>
</html>